<div class="btn-toolbar">
    <button class="btn">导入</button>
    <button class="btn">导出</button>
    <div class="btn-group">
    </div>
</div>
<div class="well">
    <table class="table">
        <!-- 表头 -->
        <thead>
        <tr>
            <th>系统编号</th>
            <th>问答标题</th>
            <th>提问会员</th>
            <th>提问时间</th>
            <th style="width: 100px;"></th>
            <th style="width: 26px;"></th>
        </tr>
        </thead>
        <!-- 数据 -->
        {% for question in questions %}
            <tbody>
            <tr>
                <td>{{ question.questionId }}</td>
                <td>
                    <a href="{{ path('_faq_view', {question_id:question.questionId }) }}" target="_blank">
                        {{ question.title }}
                    </a>
                </td>
                <td>{{ question.user.username }}</td>
                <td>{{ question.createTime|date('Y-m-d h:i') }}</td>
                <td><a href="#modal-answer-{{ question.questionId }}" data-toggle="modal"
                       class="btn btn-primary">我来回答</a></td>
                <td>
                    <a href="#"><i class="icon-pencil"></i></a>
                    <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
<!-- 分页 -->
<div class="pagination pull-right">
    <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>

<!-- Modal -->
{% for question in questions %}
    <div id="modal-answer-{{ question.questionId }}" class="modal hide fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ question.title }}</h3>
        </div>
        <div class="modal-body">
            <p>
                <textarea id="answer-{{ question.questionId }}" class="span12" rows="5"></textarea>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <button class="btn btn-primary" id="btn-answer-{{ question.questionId }}">提交回答</button>
        </div>
    </div>
    <script>
        $(document).delegate('#btn-answer-{{ question.questionId }}', 'click', function () {
            var qid = {{ question.questionId }};
            var qan = $('#answer-{{ question.questionId }}').val();
            $('#modal-answer-{{ question.questionId }}').modal('hide');
            answerSubmit(qid, qan);
        });
    </script>
{% endfor %}
<script>
    function answerSubmit(qid, answer) {
        $.ajax({
            url: '{{ path('_question_answer') }}',
            method: 'POST',
            data: 'question_id=' + qid + '&answer=' + answer,
            dataType: 'json',
            success: function (msg) {
                loadFaqWaitPage();
            }
        });
    }
</script>


