{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing" style="margin-top:0px;">

        <div class="col-12">
            <h2>{{ photo.title }}</h2>
            <ol class="breadcrumb" id="bc-list">
            </ol>
            <hr>
        </div>

        <div class="col-12 well" style="margin-top:20px;">

            <p><img width="400px" height="400px" src="{{ asset('uploads/images/') }}{{ photo.imagePath }}" alt="..." class="img-rounded img-responsive"></p>

            <p>{{ photo.content }}</p>

        </div>

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('#bc-list').html(generateBC([
            ['{{ path('_index') }}', '菜问首页'],
            ['{{ path('_photo_list',{album_id:album.albumId}) }}', '{{ album.title }}'],
            ['*', '{{ photo.title }}']
        ]));
    </script>
{% endblock %}