{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing" style="margin-top:0px;">
        <div class="col-12">
            <h2>文献搜索结果</h2>
            <ol class="breadcrumb" id="bc-list">
            </ol>
            <hr>
        </div>

        <div class="col-lg-12 well" style="margin-top:20px;">
            <h4>搜索条件：</h4>

            <p>
                标题：{{ arr.title }}<br/>
                作者：{{ arr.author }}<br/>
                关键词：{{ arr.keywords }}
            </p>
            <hr/>
            <h4>搜索结果：</h4>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>标题</th>
                    <th>作者</th>
                    <th>关键词</th>
                    <th>下载</th>
                </tr>
                </thead>
                {% for docs in docses %}

                    <tr>
                        <td>{{ docs.title }}</td>
                        <td>{{ docs.author }}</td>
                        <td>{{ docs.keywords }}</td>
                        <td>
                            <a href="{{ asset('uploads/files/') }}{{ docs.filePath }}" target="_blank">
                                点击下载
                            </a>
                        </td>
                    </tr>




                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('#bc-list').html(generateBC([
            ['{{ path('_index') }}', '菜问首页'],
            ['{{ path('_docs_search') }}', '文献搜索'],
            ['*', '搜索结果']
        ]));
    </script>
{% endblock %}