{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing" style="margin-top:0px;">
        <div class="col-12">
            <h2>菜问问答</h2>
            <ol class="breadcrumb" id="bc-list">
                <li><a href="index.html">菜问首页</a></li>
                <li class="active">菜问问答</li>
            </ol>
            <hr>
        </div>

        <div class="row col-sm-12">
            <p><a href="{{ path('_faq_add') }}" class="btn btn-primary pull-right">我要提问</a></p>
        </div>
        <div class="col-lg-12 well" style="margin-top:20px;">
            <ul>
                {% for question in questions %}
                <li>
                    <a href="{{ path('_faq_view', {question_id:question.questionId}) }}">
                        {{ question.title }}
                    </a>
                    <span class="pull-right">{{ question.createTime|date('Y-m-d h:i') }}</span></li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('#bc-list').html(generateBC([
            ['{{ path('_index') }}', '菜问首页'],
            ['*', '菜问问答']
        ]));
    </script>
{% endblock %}