{% extends "CaiwenCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row marketing" style="margin-top:0px;">

        <div class="col-12">
            <h2>{{ question.title }}</h2>
            <ol class="breadcrumb" id="bc-list">
            </ol>
            <hr>
        </div>

        <div class="col-12 well" style="margin-top:20px;">

            <h3><strong>问题描述：</strong></h3>

            <p>
                {{ question.content }}
            </p>

            <h3><strong>附加图片：</strong></h3>

            <p>
                {% if question.imagePath %}
                    <img src="{{ asset('uploads/images/') }}{{ question.imagePath }}">
                {% else %}
                    无
                {% endif %}
            </p>

            <h3><strong>管理员回复：</strong></h3>

            <p>
                {% if question.answer %}
                    {{ question.answer }}
                {% else %}
                    管理员还没有回复
                {% endif %}
            </p>

        </div>

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('#bc-list').html(generateBC([
            ['{{ path('_index') }}', '菜问首页'],
            ['{{ path('_faq_list') }}', '菜问问答'],
            ['*', '查看问答']
        ]));
    </script>
{% endblock %}